<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>详情信息</title>
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/login.css" media="all">
    <script src="./static/layui/layui.js"></script>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
</head>
<body>
<div id="app">
    <!--导航条 start-->
    <ul class="layui-nav layui-bg-blue" id="navDIV" lay-filter="" id="navDIV" style="margin-bottom: 0px;text-align: center;">

    </ul>
    <!--导航条 end-->


    <!--轮播图 start-->
    <div class="layui-carousel" id="test1">
        <div carousel-item="" id="carouselListDiv">
        </div>
    </div>
    <!--轮播图 end-->

    <div class="layui-container" style="background: #fff;margin-top: 0px;padding-top: 20px;">
        <fieldset class="layui-elem-field layui-field-title site-title" style="text-align: center;margin: 30px">
            <legend><a name="compatibility">{{datainfo.dataname}} 《{{datainfo.datauser}}》 <span class="layui-btn" @click="pingfen()">点我评分</span> </a></legend>
        </fieldset>

        <div class="layui-row" style="background: #fff;">
            <div style="height: 10px;"></div>
            <div class="layui-elem-quote" style="margin: 20px;">
                <p style="font-size: 18px; margin-bottom: 0px;text-align: left;line-height: 40px;">{{datainfo.datacontent}} </p>
            </div>

            <div class="layui-col-md12" style="text-align: center;margin-top: 10px;">
                <video controls="controls" :poster="datainfo.dataintro" :src="datainfo.dataurl" style="width: 60%;border: 1px solid #cecece;padding: 20px;"></video>
            </div>
            <div class="layui-col-md12">

                <div class="layui-row" style="padding: 20px;">
                    <div class="layui-col-md12" style="background: #eee;border-radius:20px; ">
                        <form class="layui-form layui-form-pane" action="#" onsubmit="return false;" method="post">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label" id="commentShow">评论信息显示</label>
                                <div class="layui-input-block">
                                    <textarea name="content" v-model="content" placeholder="请输入评论内容"
                                              class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <button v-if="!loginUserinfo.name" class="layui-btn layui-btn-fluid layui-btn-disabled">
                                登录以后才可以发布评论
                            </button>
                            <button v-if="loginUserinfo.name" @click="commentinfoSubmit($event)"
                                    class="layui-btn layui-btn-fluid layui-btn-danger">
                                点我发布评论内容
                            </button>
                        </form>
                    </div>


                    <div style="margin-top: 30px;">
                        <div class="site-title"
                             style="text-align: center;font-size: 20px;border-left:0px;border-right:0px;border-bottom:0px;   ">
                            <fieldset>
                                <legend>评论内容显示区域</legend>
                                <div v-for="(v,index) in commentinfoList">
                                    <div class='comment'>
                                        <img src='http://www.javalm.cn/file/head.png' alt='head pic'/>
                                        <a class="name" href="">{{v.msguser}}</a>
                                        <p>{{v.msgcontent}}</p>
                                        <span>{{v.msgaddtime}}</span>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!--版权区域 \\-->
    <div class="layui-footer footer footer-index"
         style="text-align: center;background-color: rgba(0,0,0,0.8);padding: 10px;font-size: 15px;color: #eee;margin-top: 15px;">
        <div class="layui-main">
            <h4>© 中国大学慕课之天津分课 版权所有</h4>
            <p>
                中国大学慕课之天津分课 前端页面
            </p>
        </div>
    </div>
    <!--版权区域 //-->

</div>

<style>
    .contentshow {
        font-size: 18px;
        line-height: 2em;
        text-indent: 2em;
        text-align: left;
    }

    .comment {
        margin-top: 4%;
        margin-left: 14%;
        padding: 2%;
        width: 68%;
        background-color: #ececec;
        border: 1px dashed #888;
        border-radius: 1em;
        position: relative;
        display: block;
        text-align: left;
    }

    .comment:hover img {
        border-radius: 1em;
        border: 2px solid #888;
    }

    .comment:hover {
        background-color: #eee;
    }

    .comment img {
        position: absolute;
        top: -1%;
        left: -10%;
        border-radius: 2em;
        border: 2px solid #888;
        width: 60px;
        height: 60px;
    }

    .comment p {
        text-indent: 2em;
        margin-top: 0.4%;
    }

    .comment span {
        position: absolute;
        top: 10%;
        right: 4%;
        font-size: 0.9em;
        font-weight: bold;
        color: #444
    }

    .comment .name {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .comment .name:hover {
        text-decoration: underline;
    }

    .comment .up {
        color: #555;
        text-decoration: none;
        position: absolute;
        bottom: 1%;
        right: 8%;
    }

    .comment .up:hover {
        color: #000;
    }

    body {
        background: url(static/bg_demo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>
</body>
<script>


    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    var layer;
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        layer = layui.layer;
        //…
    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //, anim: 'updown' //切换动画方式
        });
    });


    var app = new Vue({
        el: '#app',
        data() {
            return {
                content: "",
                datainfoid: 0,//用户登录信息存储
                datainfo: {},//用户登录信息存储
                commentinfoList: [],//用户登录信息存储
                loginUserinfo: {
                    id: 0
                },//用户登录信息存储
                nowTime: "",   //当前时间
                keyword: "",   //搜素关键词
                myDataList: []  //数据存储
            }
        },
        created() {
            getCarouselList();//查询轮播图
            this.getSysteminfo();
            this.getMyDataListList();
            this.getLoginUserinfo();

        },
        mounted() {

        },
        methods: {
            getSysteminfo() { //加载系统配置
                this.nowTime = getNowTime();//获取当前时间
                this.datainfoid = getURLParameter("dataid"); //获取参数
            },
            getLoginUserinfo() { //获取登录用户
                if (sessionStorage.getItem('loginUserinfo') != null) {
                    this.loginUserinfo = JSON.parse(sessionStorage.getItem('loginUserinfo'));//获取登录信息
                }
            },
            getCommentinfoList() { //查询评论
                var that = this;
                var url = '/vue/selectAction';
                var data = {"sql": "select * from msginfo where tid=" + this.datainfoid};
                post(url, data).then(response => {
                    that.commentinfoList = response.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            commentinfoSubmit() { //获取登录用户
                var that = this;
                var obj = {
                    "msgid": 0,
                    "tid": this.datainfoid,
                    "msguser": this.loginUserinfo.name,
                    "msgcontent": this.content,
                    "msgaddtime": getNowTime(),
                };
                var url = '/updateAction';
                var data = {"sql": `insert into msginfo (msgid,msguser,msgcontent,tid,msgaddtime)  values ('${obj.msgid}','${obj.msguser}','${obj.msgcontent}','${obj.tid}','${obj.msgaddtime}')`}
                post(url, data).then(response => {
                    that.getCommentinfoList();
                    //弹窗提示
                    layer.msg('评论成功', {
                        offset: '15px'
                        , icon: 1
                    }, function () {

                    });
                }).catch(err => {
                    console.log(err);
                });
            },
            dianzan(e) { //点赞数量+1
                if (!this.loginUserinfo.name) {
                    layer.alert("用户登陆以后才可以点赞");
                    return false;
                }
                var that = this;
                var kid = e.target.getAttribute('kid');
                var url = '/vue/commentinfoDianzan';
                var data = {"id": kid}
                post(url, data).then(response => {
                    //console.log(response.data);
                    //layer.msg(response.data);
                    this.getCommentinfoList();
                    //弹窗提示
                    layer.msg(response.data, {
                        offset: '15px'
                        , icon: 1
                    }, function () {

                    });
                }).catch(err => {
                    console.log(err);
                });
            },
            pingfen() {
                if (!this.loginUserinfo.name) {
                    layer.alert("用户登陆以后才可以点赞");
                    return false;
                }
                var userid = this.loginUserinfo.id; //用户编号
                var dataid = this.datainfoid;
                layer.prompt({
                    formType: 0,
                    value: '请输入0.0-5.0中的分数',
                    title: '请输入物品评分',
                    btn: ['确定', '取消'], //按钮，
                    btnAlign: 'c'
                }, function (value, index) {
                    //判断评分是否有效
                    if (parseFloat(value).toString() == "NaN") {
                        layer.alert("A评分只能为0.0-5.0中的数字");
                        return false;
                    }
                    value = parseFloat(value);
                    if (value < 0 || value > 5) {
                        layer.alert("B评分只能为0.0-5.0中的数字");
                        return false;
                    }
                    var url = '/algorithmSave';
                    var data = {"tid": dataid, "uid": userid, "score": value}
                    post(url, data).then(response => {
                        //弹窗提示
                        layer.msg('评分成功', {
                            offset: '15px'
                            , icon: 1
                        }, function () {
                            layer.closeAll();//关闭窗口
                        });
                    }).catch(err => {
                        console.log(err);
                    });

                    var url = '/dataWrite';
                    var data = {"tid": dataid, "uid": userid, "score": value}
                    post(url, data).then(response => {
                        console.log("正在后台执行")
                    }).catch(err => {
                        console.log(err);
                    });


                });

            },
            getMyDataListList() { //加载数据
                var url = '/vue/detail';
                var data = {"id": this.datainfoid, "uid": this.loginUserinfo.id}
                post(url, data).then(response => {
                    this.myDataList = response.data;
                    this.datainfo = response.data.datainfo;
                    this.commentinfoList = response.data.commentinfoList;
                    //console.log(response.data);
                    //layer.msg("数据查询成功");
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    });


</script>
</html>
