<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>用户登陆</title>
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/login.css" media="all">
    <script src="./static/layui/layui.js"></script>
      <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
</head>
<body>
<div id="app">
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>MOOC中国大学慕课之天津分课</h2>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                           placeholder="用户名"
                           v-model="username"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="LAY-user-login-password"></label>
                    <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                           v-model="password"
                           placeholder="密码" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-vercode"></label>
                            <input type="text" name="vercode" value="" id="LAY-user-login-vercode" lay-verify="required"
                                   maxlength="4"
                                   v-model="codeInput"
                                   placeholder="图形验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img :src="codeImgURL" class="layadmin-user-login-codeimg"
                                     id="LAY-user-get-vercode" @click="refreshCode()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 20px;">
                    <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">

                </div>
                <div class="layui-form-item">
                    <button @click="myLogin()" class="layui-btn layui-btn-fluid" lay-filter="LAY-user-login-submit">登
                        入
                    </button>
                </div>
                <div class="layui-form-item">
                    <a href="register.html" class="layui-btn layui-btn-primary layui-btn-fluid">注 册</a>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    var layer;
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        layer = layui.layer;
        //…
    });

    layui.use('form', function () {
        var form = layui.form;

        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    // 存储
    var app = new Vue({
        el: '#app',
        data() {
            return {
                codeImgURL: "", //验证码图片地址
                code: "", //验证码
                codeInput: "", //输入验证码
                username: "test",//用户登录信息存储
                password: "123456",//用户登录信息存储
            }
        },
        created() {
            this.refreshCode();

        },
        mounted() {

        },
        updated() {

        },
        methods: {
            refreshCode() {  //刷新验证码
                var url = '/vue/code';
                var data = {}
                post(url, data).then(response => {
                    this.codeImgURL = response.data.src;
                    this.code = response.data.code;
                }).catch(err => {
                    console.log(err);
                });
            },
            myLogin() {

                if (this.username == "") {
                    layer.msg("用户名不能为空");
                    return false;
                }
                if (this.password == "") {
                    layer.msg("密码不能为空");
                    return false;
                }
                if (this.code != this.codeInput) {
                    layer.msg("验证码输入错误");
                    return false;
                }
                var url = '/vue/loginSubmit';
                var data = {"username": this.username, "password": this.password}
                post(url, data).then(response => {
                    sessionStorage.setItem("loginUserinfo", JSON.stringify(response.data));
                    if (response.status == 200) {
                        layer.msg('恭喜你，登录成功', {
                            offset: '15px'
                            , icon: 1
                        }, function () {
                            window.location.href = "index.html";
                        });
                    } else {
                        layer.alert(response.msg);
                    }
                }).catch(err => {
                    console.log(err);
                });
            },
        }
    });

</script>
<style>
    body {
        background: url('./static/bgA.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .layadmin-cmdlist-fluid {
        background: rgba(255, 255, 255, 0.80);
        margin-top: 0px;
        padding-top: 30px;
    }

    .layadmin-user-login-main {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>

</body>
</html>
