<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <script src="./static/layui/layui.js"></script>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
    <script src="./static/js/jquery-1.9.1.min.js"></script>
    <script src="./static/js/common.js"></script>
</head>
<body>
<body>
<div id="app">
    <!--导航条 start-->
    <ul class="layui-nav layui-bg-blue" id="navDIV" lay-filter="" id="navDIV" style="margin-bottom: 0px;text-align: center;">

    </ul>
    <!--导航条 end-->


    <!--轮播图 //-->

    <div class="layui-carousel" id="test1">
        <div carousel-item="" id="carouselListDiv">
        </div>
    </div>
    <!--轮播图 \\-->


    <!--数据内容区域 \\-->

    <div class="layui-container layadmin-cmdlist-fluid" style="padding-top: 30px;padding-bottom: 30px;">
        <form class="layui-form  layui-form-pane" action="#" onsubmit="return false;" method="post"
              style="margin: 0px auto;">

            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="dataname" id="dataname" v-model="objInfo.dataname"
                           placeholder="请输入名称"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-block">
                    <select name="sorttype" id="sorttype" class="layui-select" lay-filter="select01">
                        <option value="">请选择分类</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                <textarea rows="10" name="datacontent" id="datacontent" v-model="objInfo.datacontent" placeholder="请输入内容"
                          class="layui-textarea"> </textarea>
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">用户</label>
                <div class="layui-input-block">
                    <input type="text" name="datauser" id="datauser" v-model="objInfo.datauser"
                           placeholder="请输入用户"
                           class="layui-input"/>
                </div>
            </div>


            <div class="layui-form-item ">
                <label class="layui-form-label">视频</label>
                <div class="layui-input-block">
                    <input id="myfile" type="file" name="myfile" style="display: none;"
                           onchange="uploadFileUtil('myfile','picurl')">
                    <input type="text" id="picurl" name="dataurl" v-model="objInfo.dataurl" lay-verify="required"
                           placeholder="网路路径或者上传  如果是要上传，请点击后面的上传文件按钮"
                           value="" class="layui-input" style="width: 80%;display: inline-block;"/>
                    <span onclick="uploadFileUtilClick('myfile')" class="layui-btn"><i
                            class="layui-icon layui-icon-upload"></i>上传文件</span>
                </div>
            </div>


            <div class="layui-form-item ">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-block">
                    <input id="myfile2" type="file" name="myfile2" style="display: none;" onchange="uploadFileUtil('myfile2','picurl2')">
                    <input type="text" id="picurl2" name="dataintro" v-model="objInfo.dataintro" lay-verify="required"
                           placeholder="网路路径或者上传  如果是要上传，请点击后面的上传文件按钮"
                           value="" class="layui-input" style="width: 80%;display: inline-block;"/>
                    <span onclick="uploadFileUtilClick('myfile2')" class="layui-btn"><i class="layui-icon layui-icon-upload"></i>上传文件</span>
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">时间</label>
                <div class="layui-input-block">
                    <input type="text" name="dataaddtime" id="dataaddtime" v-model="objInfo.dataaddtime"
                           autocomplete="off"
                           placeholder="请输入添加时间"
                           class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item  layui-hide">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="dataremarker" id="dataremarker" v-model="objInfo.dataremarker"
                           placeholder="请输入备注"
                           class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" @click="sendSubmit($event)">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
    <!--数据内容区域 //-->


    <!--版权区域 \\-->
    <div class="layui-footer footer footer-index"
         style="text-align: center;background-color: rgba(0,0,0,0.8);padding: 10px;font-size: 15px;color: #eee;">
        <div class="layui-main">
            <h4>© 中国大学慕课之天津分课 版权</h4>
            <p>
                中国大学慕课之天津分课 前端页面
            </p>
        </div>
    </div>
    <!--版权区域 //-->

</div>


</body>


<script>


    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    var select1_val; //性别使用
    var layer;
    layui.use(['element', 'layer', "form"], function () {
        var element = layui.element;
        layer = layui.layer;
        form = layui.form;
        //…
    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //, anim: 'updown' //切换动画方式
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        form.on("select(select01)", function (data) {
            select1_val = data.value;
        });

    });

    //sessionStorage.setItem('editdatainfoid',1);  //模拟数据修改

    var app = new Vue({
        el: '#app',
        data() {
            return {
                loginUserinfo: {},//用户登录信息存储
                objInfo: {
                    "datatype": "",
                    "dataname": "",
                    "datacontent": "",
                    "dataurl": "",
                    "datauser": "",
                    "dataintro": "",
                    "dataremarker": "",
                    "id": 0,
                    "nums": 0
                },
                nowTime: "",   //搜素关键词
                datainfoid: "",   //搜素关键词
                keyword: "",   //搜素关键词
                myDataList: [],  //数据存储
                sorttypelList: [],  //数据存储
            }
        },
        created() {
            getCarouselList();//查询轮播图
            this.getLoginUserinfo();
            this.loadSorttypeList();
            this.getSysteminfo();
            this.getMyDataListList();
        },
        mounted() {

        },
        methods: {
            getSysteminfo() { //加载系统配置
                this.nowTime = getNowTime();//获取当前时间
                this.objInfo.dataaddtime = getNowTime();
                this.objInfo.datauser = this.loginUserinfo.name;

            },
            getLoginUserinfo() { //获取登录用户
                if (sessionStorage.getItem('loginUserinfo') != null) {
                    this.loginUserinfo = JSON.parse(sessionStorage.getItem('loginUserinfo'));//获取登录信息
                }
            },
            loadSorttypeList() { //加载分类下拉框
                var that = this;
                var url = '/vue/selectAction';
                var data = {"sql": "select * from Sortinfo"};
                post(url, data).then(response => {
                    this.sorttypelList = response.data;

                    let datadivID = document.getElementById("sorttype");
                    datadivID.innerHTML = "";
                    var dataList = this.sorttypelList;
                    var ss = "<option value=''>请选择分类</option>";
                    for (let i = 0; i < dataList.length; i++) {
                        var obj = dataList[i];
                        ss = ss + "<option value='" + obj.sname + "'>" + obj.sname + "</option>";
                    }
                    datadivID.innerHTML = ss;

                }).catch(err => {
                    console.log(err);
                });


            }, getMyDataListList() { //加载数据

            },
            sendSubmit() {
                this.objInfo.dataurl = document.getElementById("picurl").value;
                this.objInfo.dataintro = document.getElementById("picurl2").value;
                this.objInfo.datatype = select1_val;
                var url = '/vue/InsertDatainfo';
                var data = this.objInfo;
                post(url, data).then(response => {
                    layer.msg("操作成功", {time: 1500, icon: 1}, function () {
                        window.location.href = "index.html";
                    });
                }).catch(err => {
                    console.log(err);
                });
            },
        }
    });


</script>
<style>
    body {
        background: url('static/bg_demo.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .layadmin-cmdlist-fluid {
        background: rgba(255, 255, 255, 0.80);
        margin-top: 0px;
        padding-top: 30px;
    }
</style>
</body>
</html>
