<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/login.css" media="all">
    <script src="./static/layui/layui.js"></script>

    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
    <script src="./static/js/jquery-1.9.1.min.js"></script>
    <script src="./static/js/common.js"></script>
</head>
<body>
<body>
<div id="app">
    <!--导航条 start-->
    <ul class="layui-nav layui-bg-blue" id="navDIV" lay-filter="" id="navDIV"
        style="margin-bottom: 0px;text-align: center;">

    </ul>
    <!--导航条 end-->


    <!--轮播图 //-->

    <div class="layui-carousel" id="test1">
        <div carousel-item="" id="carouselListDiv">
        </div>
    </div>
    <!--轮播图 \\-->


    <!--数据内容区域 \\-->

    <div class="layui-container layadmin-cmdlist-fluid" style="padding-top: 30px;">

        <!--列表区域  //-->
        <div id="dataShowDIV" v-show="isDataShow==1">
            <div>
                <button @click="addInfo($event)" class="layui-btn layui-btn-normal">添加数据</button>
            </div>
            <table class="layui-table">
                <tbody>
                <tr class="layui-bg-blue">
                    <th>ID</th>
                    <th>题目</th>
                    <th>分数</th>
                    <th>选项</th>
                    <th>答案</th>
                    <th>所属id</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>

                <tr v-for="(v,index) in myDataList">
                    <td>{{index + 1}}</td>
                    <td>{{v.name}}</td>
                    <td>{{v.fenshu}}</td>
                    <td>{{v.xuanxiang}}</td>
                    <td>{{v.answer}}</td>
                    <td>{{v.tid}}</td>
                    <td>{{v.intro}}</td>
                    <td style="width: 220px;">
                        <a href="#" @click="editInfo(index)"
                           class="layui-btn  layui-btn-sm">修改</a>
                        <a href="#" @click="deleteInfo($event)" :deleteid="v.id"
                           class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
                        <button @click="detailInfo(index)" :dataid="v.id"
                                class="layui-btn layui-btn-normal layui-btn-sm showDetail">详情
                        </button>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
        <!--列表区域  \\-->

        <!--表单区域 //-->
        <div id="formDataDIV" class="layui-container" v-show="isDataShow==2">
            <form class="layui-form  layui-form-pane" action="#" onsubmit="return false;" method="post"
                  style="margin: 0px auto;">
                <div class="layui-form-item">
                    <label class="layui-form-label">题目</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" id="name" value="" v-model="objInfo.name" lay-verify autocomplete="off"
                               placeholder="请输入题目"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分数</label>
                    <div class="layui-input-block">
                        <input type="text" name="fenshu" id="fenshu" value="" v-model="objInfo.fenshu" lay-verify autocomplete="off"
                               placeholder="请输入分数"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-block">
                        <input type="text" name="xuanxiang" id="xuanxiang" value="" v-model="objInfo.xuanxiang" lay-verify autocomplete="off"
                               placeholder="请输入选项"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">答案</label>
                    <div class="layui-input-block">
                        <input type="text" name="answer" id="answer" value="" v-model="objInfo.answer" lay-verify autocomplete="off"
                               placeholder="请输入答案"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属id</label>
                    <div class="layui-input-block">
                        <!-- <input type="text" name="tid" id="tid" value="" v-model="objInfo.tid" lay-verify autocomplete="off"
                                placeholder="请输入所属id"
                                class="layui-input">-->
                        <select name="tid" id="sorttype" class="layui-select" lay-filter="select01">
                            <option value="">请选择课程</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" name="intro" id="intro" value="" v-model="objInfo.intro" lay-verify autocomplete="off"
                               placeholder="请输入备注"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="addtime" id="addtime" value="" v-model="objInfo.addtime" lay-verify autocomplete="off"
                               placeholder="请输入时间"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" @click="updateInfo($event)">立即提交</button>
                        <button @click="backList($event)" class="layui-btn layui-btn-normal">返回列表</button>
                    </div>
                </div>
            </form>
            <div style="height: 30px;"></div>
        </div>
        <!--表单区域 \\-->

        <!--详情区域  //-->
        <div id="detailDataDIV" class="layui-container" v-show="isDataShow==3">
            <table class="layui-table">
                <thead>
                <tr>
                    <td colspan="2">
                        <button @click="backList($event)" class="layui-btn layui-btn-normal">返回列表</button>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td style="width:150px;">ID</td>
                    <td>{{objInfo.id}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">题目</td>
                    <td>{{objInfo.name}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">分数</td>
                    <td>{{objInfo.fenshu}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">选项</td>
                    <td>{{objInfo.xuanxiang}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">答案</td>
                    <td>{{objInfo.answer}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">所属id</td>
                    <td>{{objInfo.tid}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">备注</td>
                    <td>{{objInfo.intro}}</td>
                </tr>
                <tr>
                    <td style="width:150px;">时间</td>
                    <td>{{objInfo.addtime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--详情区域  \\-->


    </div>
    <!--数据内容区域 //-->


    <!--版权区域 \\-->
    <div class="layui-footer footer footer-index"
         style="text-align: center;background-color: rgba(0,0,0,0.8);padding: 10px;font-size: 15px;color: #eee;">
        <div class="layui-main">
            <h4>© 校园智能视频监控系统 版权所有</h4>
            <p>
                校园智能视频监控系统 前端页面
            </p>
        </div>
    </div>
    <!--版权区域 //-->

</div>
</body>


<script>


    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    var select1_val; //性别使用
    var layer;
    layui.use(['element', 'layer', "form"], function () {
        var element = layui.element;
        layer = layui.layer;
        form = layui.form;
        //…
    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //, anim: 'updown' //切换动画方式
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        form.on("select(select01)", function (data) {
            select1_val = data.value;
        });

    });

    var app = new Vue({
        el: '#app',
        data() {
            return {
                loginUserinfo: {},//用户登录信息存储
                keyword: "",   //搜素关键词
                isDataShow: 1,   //1列表显示 2表单 3详情
                myDataList: [],  //数据存储
                objInfoBack: {},
                objInfo: {
                    id: 0,
                    name: "",
                    fenshu: "",
                    xuanxiang: "",
                    answer: "",
                    tid: "",
                    intro: "",
                    addtime: getNowTime(),
                }  //对象信息
            }
        },
        created() {
            getCarouselList();//查询轮播图
            this.getLoginUserinfo();
            this.getSysteminfo();
            this.getMyDataListList();
            this.loadSorttypeList();
        },
        mounted() {

        },
        methods: {
            loadSorttypeList() { //加载分类下拉框
                let datadivID = document.getElementById("sorttype");
                datadivID.innerHTML = "";
                var dataList = JSON.parse(sessionStorage.getItem('sorttypelList'));
                var ss = "<option value=''>请选择分类</option>";
                for (let i = 0; i < dataList.length; i++) {
                    var obj = dataList[i];
                    ss = ss + "<option value='" + obj.sid + "'>" + obj.sname + "</option>";
                }
                datadivID.innerHTML = ss;
            },
            getSysteminfo() { //加载系统配置
                this.objInfoBack = {...this.objInfo}; //使用...赋值新变量， 对象和数组都适用
            },
            getLoginUserinfo() { //获取登录用户
                if (sessionStorage.getItem('loginUserinfo') != null) {
                    this.loginUserinfo = JSON.parse(sessionStorage.getItem('loginUserinfo'));//获取登录信息
                }
            },
            editInfo(index) { //编辑信息
                var that = this;
                that.objInfo = this.myDataList[index];
                this.isDataShow = 2; //隐藏列表
            },
            addInfo(index) { //添加信息
                var that = this;
                that.objInfo.id = 0; //清空编号
                //that.objInfo.addtime = getNowTime(); //清空编号
                this.isDataShow = 2; //隐藏列表
                this.objInfo = {...this.objInfoBack};  //使用...赋值新变量， 对象和数组都适用
            },
            backList(index) { //返回列表
                var that = this;
                this.isDataShow = 1; //显示列表
            },
            updateInfo(e) { //修改信息
                var that = this;
                var obj = that.objInfo;
                var url = '/updateAction';
                var data = {"sql": `insert into examinfo (id,name,fenshu,xuanxiang,answer,tid,intro,addtime)  values ('${obj.id}','${obj.name}','${obj.fenshu}','${obj.xuanxiang}','${obj.answer}','${obj.tid}','${obj.intro}','${obj.addtime}')`}
                if (obj.id != 0) {  //存在编号则修改
                    var data = {"sql": `  update examinfo set name = '${obj.name}',fenshu = '${obj.fenshu}',xuanxiang = '${obj.xuanxiang}',answer = '${obj.answer}',tid = '${obj.tid}',intro = '${obj.intro}',addtime = '${obj.addtime}'  where id = '${obj.id}'  `}
                }
                post(url, data).then(response => {
                    that.getMyDataListList();//加载列表
                    layer.msg("操作成功");  //弹窗提示
                    that.isDataShow = 1; //隐藏列表
                }).catch(err => {
                    console.error(err);
                });
            },
            deleteInfo(e) { //删除信息
                var that = this;
                var deleteid = e.target.getAttribute('deleteid');
                var url = '/updateAction';
                var data = {"sql": `delete  from examinfo where  id='${deleteid}' `}
                post(url, data).then(response => {
                    that.getMyDataListList();
                    layer.msg("刪除成功");

                }).catch(err => {
                    console.error(err);
                });
            },
            detailInfo(index) { //显示详情
                var that = this;
                that.objInfo = this.myDataList[index];
                this.isDataShow = 3; //隐藏列表
            },
            getMyDataListList() { //加载数据
                var that = this;
                var url = '/selectAction';
                var data = {"sql": `select * from examinfo order by  id desc `}
                post(url, data).then(response => {
                    that.myDataList = response.data;
                }).catch(err => {
                    console.error(err);
                });
            }
        }
    });


</script>

<style>
    body {
        background: url('static/bg_demo.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        height: auto;
    }

    .layadmin-cmdlist-fluid {
        background: rgba(255, 255, 255, 0.80);
        margin-top: 0px;
        padding-top: 30px;
    }
</style>
</body>
</html>
