<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <script src="./static/layui/layui.js"></script>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
    <script src="./static/js/jquery-1.9.1.min.js"></script>
    <script src="./static/js/common.js"></script>
</head>
<body>
<body>
<div id="app">
    <!--导航条 start-->
    <ul class="layui-nav layui-bg-blue" id="navDIV" lay-filter="" id="navDIV" style="margin-bottom: 0px;text-align: center;">

    </ul>
    <!--导航条 end-->


    <!--轮播图 //-->

    <div class="layui-carousel" id="test1">
        <div carousel-item="" id="carouselListDiv">
        </div>
    </div>
    <!--轮播图 \\-->


    <!--数据内容区域 \\-->

    <div class="layui-container layadmin-cmdlist-fluid" style="padding-top: 30px;padding-bottom: 30px;">
        <form class="layui-form  layui-form-pane" action="#" onsubmit="return false;" method="post"
              style="margin: 0px auto;">

            <div class="layui-form-item">
                <label class="layui-form-label">作业名称</label>
                <div class="layui-input-block">
                    <input type="text" name="swname" id="swname" v-model="objInfo.swname" lay-verify autocomplete="off"
                           placeholder="请输入作业名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="height: 325px;">作业内容</label>
                <div class="layui-input-block">
                    <textarea id="swcontent" name="swcontent" style="display: none;" v-model="objInfo.swcontent"></textarea>
                </div>
            </div>

            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">作业分数</label>
                <div class="layui-input-block">
                    <input type="text" name="swscore" id="swscore" v-model="objInfo.swscore" lay-verify autocomplete="off"
                           placeholder="请输入作业分数"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">作业备注</label>
                <div class="layui-input-block">
                    <input type="text" name="swintro" id="swintro" v-model="objInfo.swintro" lay-verify autocomplete="off"
                           placeholder="请输入作业备注"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">提交用户</label>
                <div class="layui-input-block">
                    <input type="text" name="swuser" id="swuser" readonly v-model="objInfo.swuser" lay-verify autocomplete="off"
                           placeholder="请输入提交用户"
                           class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" @click="sendSubmit($event)">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
    <!--数据内容区域 //-->


    <!--版权区域 \\-->
    <div class="layui-footer footer footer-index"
         style="text-align: center;background-color: rgba(0,0,0,0.8);padding: 10px;font-size: 15px;color: #eee;">
        <div class="layui-main">
            <h4>© 中国大学慕课之天津分课 版权所有</h4>
            <p>
                中国大学慕课之天津分课 前端页面
            </p>
        </div>
    </div>
    <!--版权区域 //-->

</div>


</body>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    //定义layui的变量
    var swcontent;
    var $;
    var layer;
    var layedit;
    var contentIndex;
    var element;
    var form;
    layui.use(['element', 'layer', 'jquery', 'form', 'laydate', 'layedit'], function () {
        element = layui.element;
        layer = layui.layer;
        $ = layui.jquery;
        form = layui.form;
        var laydate = layui.laydate;


        //layui编辑器使用 开始
        layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: 'http://localhost:8088/study_system/layeditUploadFile' //接口url
                , type: 'post' //默认post
            }
        });
        contentIndex = layedit.build('swcontent'); //建立编辑器

    });

    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'layer', "form"], function () {
        var element = layui.element;
        layer = layui.layer;
        form = layui.form;
        //…
    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //, anim: 'updown' //切换动画方式
        });
    });


    //sessionStorage.setItem('editdatainfoid',1);  //模拟数据修改

    var app = new Vue({
        el: '#app',
        data() {
            return {
                loginUserinfo: {},//用户登录信息存储
                objInfo: {
                    "swname": "",
                    "swintro": "",
                    "swcontent": "",
                    "swuser": "",
                },
                nowTime: "",   //搜素关键词
                datainfoid: "",   //搜素关键词
                keyword: "",   //搜素关键词
                myDataList: []  //数据存储
            }
        },
        created() {
            getCarouselList();//查询轮播图
            this.getLoginUserinfo();
            this.loadSorttypeList();
            this.getSysteminfo();
            this.getMyDataListList();
        },
        mounted() {

        },
        methods: {
            getSysteminfo() { //加载系统配置
                this.nowTime = getNowTime();//获取当前时间
                this.objInfo.swuser = this.loginUserinfo.name;
                this.objInfo.swname = decodeURI(getURLParameter("wname")); //获取参数
            },
            getLoginUserinfo() { //获取登录用户
                if (sessionStorage.getItem('loginUserinfo') != null) {
                    this.loginUserinfo = JSON.parse(sessionStorage.getItem('loginUserinfo'));//获取登录信息
                }
            },
            loadSorttypeList() { //加载分类下拉框

            }, getMyDataListList() { //加载数据

            },
            sendSubmit() {
                var url = '/vue/InsertHomework';
                this.objInfo.swcontent = layedit.getContent(contentIndex);
                var data = this.objInfo;
                debugShow(data);
                post(url, data).then(response => {
                    layer.msg("操作成功", {time: 1500, icon: 1}, function () {
                        location.href = "homeworkList.html";
                    });
                }).catch(err => {
                    console.log(err);
                });
            },
        }
    });


</script>
<style>
    body {
        background: url('static/bg_demo.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .layadmin-cmdlist-fluid {
        background: rgba(255, 255, 255, 0.80);
        margin-top: 0px;
        padding-top: 30px;
    }
</style>
</body>
</html>
